.header{
    background-Color: black; 
    width: 100%; 
    height: 70px; 
    color: transparent;
}

@media screen and (max-width: 768px) {
    .header{
      display: none;
    }
}

@media screen and (max-width: 414px) {
    .header{
        display: none;
    }
}